/* Reset default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('bg.webp');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
}

h2 {
    color: rgb(129, 174, 39);
    font-weight: bolder;
    background-color: rgb(193, 247, 148);
    text-align: center;
    padding: 10px;
}

header {
    background-color: rgb(114, 19, 12);
    padding: 16px;
    text-align: end;
    color: goldenrod;
    font-weight: bolder;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: burlywood;
    box-shadow: inset;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

.quote-container {
    text-align: center;
    margin: 0 auto; /* Center the container */
    padding: 20px;
    background-color: rgba(32, 133, 201, 0.7); /* Transparent background */
    border: 1px solid #090138;
    border-radius: 5px;
}

#quoteText {
    font-size: 20px;
    font-weight: bold;
    color: #6d0d4d;
    margin: 10px;
}

.search-container {
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: rgb(201, 32, 74);
    border: 1px solid #380134;
    border-radius: 5px;
}

#searchInput {
    padding: 10px;
    margin-right: 10px;
    font-weight: bolder;
    border: 4px violet solid;
    color: green;
}

#searchButton {
    padding: 10px 20px;
    background-color: #6200ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}

main {
    padding: 30px;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
    padding: 5px;
    margin: 5px;
    justify-items: center;
}

.movie-card {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    color: rgb(0, 17, 255);
    background-color: rgb(77, 209, 110);
}

.movie-card img {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
}

button {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #f73505;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #6200ff;
    color: whitesmoke;
}

nav {
    background-color: #343a40;
}

.container {
    background-color: #343a40;
    color: rgb(42, 61, 165);
    font-weight: bold;
}

.navbar {
    background-color: #343a40;
    font-size: larger;
}

.navbar-brand {
    font-size: 24px;
    color: red;
}

.navbar-nav .nav-link {
    color: rgb(38, 0, 255);
    font-size: 20px;
}

.navbar-nav .nav-link:hover {
    color: rgb(250, 33, 5);
}

#searchResults .card {
    width: 100%;
    max-width: 200px;
    min-height: 280px;
    margin: 5px;
    color: #034407;
    font-weight: bolder;
    background-color: #f7c784;
    object-fit: cover;
}

#favouritesList .card {
    background-color: #fff3cd;
    width: 100%;
    max-width: 200px;
    min-height: 280px;
    margin: 10px;
    border: 1px solid #f0ad4e;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
